<nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="#">
          <img src='./assets/img/Logo celes.jpg' alt="Bootstrap" width="50" height="50">
        </a>
        <button routerLink="/profesores" type="button" class="btn btn-danger">Ir a profesores</button>
        <button routerLink="/materias" type="button" class="btn btn-danger">Ir a materias</button>
        <button routerLink="/horario" type="button" class="btn btn-danger">Ir a horario</button>
      </div>
    </nav>

