
body{
    background-image: url('./assets/img/fondol.jpg');
    //background-color: #0A0E21;
}

.foto{
    width: 200px;
    height: 300px;
    margin: 30px;
    border-radius: 10px;
}
.titulo{
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    text-align: center;
    margin-top: 25px;
}